
/*Universal Styles*/
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
    color: seashell;
}

a {
    color: seashell;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Header Styles*/

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    opacity: 0.9;
    align-items: flex-end;
}
    header img {
        z-index: 2;
        height: 50px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 1px solid seashell;
    }

nav {
    height: 69px;
    text-align: right;
    flex-grow: 1;
}
    nav span {
        display: inline-block;
        padding: 20px 10px;
    }

/*Main Section*/

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

#about {
    height: 700px;
    background-image: url("https://raw.githubusercontent.com/mikeirwin/mikeirwin.github.io/master/IMG_9999%20(2).JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 70px;
    align-content: flex-end;
}
    #about .content {
        margin: auto;
        background-color: black;
        width: 100%;
        opacity: 0.5;
        color: seashell;
    }

/*Photos Section*/

#photos {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

.pic {
    padding: 5px;
    margin: auto;
    overflow: hidden;
}

    .pic img {
        height: 200px;
        margin: 10px;
        display: block;
        overflow: hidden;
    }

    .pic span {
        display: block;
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }

.rotate-270 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    overflow: hidden;
}

.port {
}

/*Quotes Section*/
.flex-container.quotes {
    padding-top: 5px;
}

#quotes {
    height: 500px;
    padding-top: 70px;
    background-image: url('https://raw.githubusercontent.com/mikeirwin/mikeirwin.github.io/master/IMG_9231%20(2).JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: content-box;
}

    #quotes .flex-container {
        margin: 80px;
        width: 1100px;
    }

.quote {
    opacity: 0.8;
    padding: 20px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Transitions Section*/
#hidden {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

    .hidden img{
        height: 200px;
        margin: 10px;
        display: block;
        overflow: hidden;
        opacity: 0;
    }

    .hidden img:hover{
        opacity: 100;
    }
    .hidden img {
        transition: opacity 300ms ease-in-out 300ms;
        
    }

/*Contact Styles*/
#contact {
    height: 200px;
}

/*Footer Styles*/
footer {
    text-align: left;
    padding: 20px;
}