
/*Universal Styles*/
* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, sans-serif;
}
body {
    background: white;
    font-family: Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* Header Styles */
header {
    width: 100%;
    height: 64px;
    align-items: center;
}
    header img {
        height: 100%;
    }

.colmar {
    color: darkslategray;
    font-size: 20px;
}

nav {
    text-align: right;
    height: 64px;
    flex-grow: 1;
}
    nav span {
        display: inline-block;
        text-align: center;
        align-items: center;
        padding: 24px;
    }

    nav a {
        color: gray;
        text-decoration: none;

    }

.nav-spacer {
    display: inline-block;
    flex-wrap: wrap;
    width: 16px;
    height: 64px;
    background-color: aquamarine;
}

/*Main Section Styles*/
.main {
    width: 100%;
    height: auto;
    background-color: lightgray;
}
.main img {
    padding: 32px 24px;
    width: 60%;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    padding: 24px;
}
.main-content h1 {
    color: darkslategray;
    margin: 0;
}

.main-content a {
    text-decoration: none;
    color: white;
    padding:8px;
}

.button {
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: gray;
    color: white;
}